# Arquivos de compilação
*.o
*.out
*.exe
*.dll
*.so
*.a
*.lib

# Diretórios de compilação
build/
bin/
obj/

# Arquivos de depuração
*.dSYM/
*.log
*.dump

# Diretórios de depuração
out/

# Arquivos específicos de editores e IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
